*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url('pic/coming.jpg');
    min-height: 100vh;  /* Makes sure body takes the full viewport height */
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  